<% provide(:title, t(".help")) %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".tutorial" %>
  <%= link_to t(".section"),
  "https://www.railstutorial.org/help" %>
  <%= t ".see" %>
  <%= link_to t(".rail_tutorial"), "https://www.railstutorial.org/book" %>
  <%= t ".book" %>
</p>
