<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <meta charset="utf-8" />
    <%= csrf_meta_tags %> 
    <%= csp_meta_tag %> 
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %> 
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <%= link_to t(".english"), {locale: :en}, class: "btn btn-lg btn-primary" %>
      <%= link_to t(".vietnamese"), {locale: :vi}, class: "btn btn-lg btn-primary" %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
 </body>
</html>
